<div class="wrapper">
  
    <div class="column cat1">
      
      <div class="info">
        <a href="https://ruby-practice-reggaepunch.c9users.io/articles">
        <h2>READ</h2>
        </a>
      </div>
    </div>
  

    <div class="column cat2">
      <div class="info">
        <a href="https://ruby-practice-reggaepunch.c9users.io/articles">
          <h2>WRITE</h2>
        </a>
      </div>
    </div>
    
</div>